*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $font-size-base;

    @include responsive(laptop) {
        font-size: $font-size-xsm;
    }

    @include responsive(tab-port) {
        font-size: $font-size-sm;
    }

    @include responsive(phone-port) {
        font-size: $font-size-lg;
    }
}

body {
    box-sizing: border-box;
}