.site-info {
    &__logo-box {
        margin-bottom: 8.6rem;

        @include responsive(tab-port) {
            position: fixed;
            top: 0;
            background-color: #fff;
            width: 100%;
            padding: 1.5rem 5rem;
            margin-bottom: 0;
        }

        @include responsive(phone-port) {
            padding: 1.66667rem;
        }
    }

    &__logo {
        @include responsive(tab-port) {
            height: 3rem;
        }

        @include responsive(phone-port) {
            height: 2rem;
        }
    }
}

.main-content {
    &__heading-text-box {
        margin-bottom: 2.2rem;
        max-width: 2rem;

        @include responsive(tab-port) {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__heading {
        font-size: $h1-font-size;
        text-transform: uppercase;
        letter-spacing: 1.7rem;
        line-height: 7rem;

        @include responsive(tab-port) {
            width: 42rem;
        }

        @include responsive(phone-port) {
            font-size: $h1-font-size-mobile;
            letter-spacing: 1rem;
            line-height: 4rem;
        }

        .heading--light {
            // display: block;
            font-weight: 300;
            color: $color-primary-desaturated;
        }

        .heading--heavy {
            color: $color-grey-dark-red;
        }
    }

    &__body-text-box {
        width: 44.2rem;
        color: $color-primary-desaturated;
        margin-bottom: 4rem;

        @include responsive(laptop) {
            width: 53.2rem;
        }

        @include responsive(tab-port) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
    }

    &__body {
        font-size: 1.6rem;

        @include responsive(laptop) {
            font-size: 2rem; 
        }

        @include responsive(tab-port) {
            width: 53.2rem;
        }

        @include responsive(phone-port) {
            font-size: 1.1666666667rem;
            width: 26rem;
        }
    }
}