.site-info {
    flex: 0 0 58%;
    padding-top: 6.5rem;
    padding-left: 16.5rem;

    &__logo-box {
        margin-bottom: 8.6rem;
    }
}

.main-content {
    &__heading-text-box {
        margin-bottom: 2.2rem;
        max-width: 2rem;
    }

    &__heading {
        font-size: 6.4rem;
        text-transform: uppercase;
        letter-spacing: 1.7rem;
        line-height: 7rem;

        .heading--light {
            display: block;
            font-weight: 300;
            color: $color-primary-desaturated;
        }

        .heading--heavy {
            color: $color-grey-dark-red;
        }
    }

    &__body-text-box {
        width: 44.2rem;
        color: $color-primary-desaturated;
        margin-bottom: 4rem;
    }

    &__body {
        font-size: 1.6rem;
    }

    &__user-email {
        width: 42.2rem;
        display: flex;
    }
    
    &__input-field {
        border: 1px solid $color-primary-desaturated;
        border-radius: 10rem;
        padding: 2rem 3rem;
        width: 100%;
        font-size: 1.6rem;
        margin-right: -9.25rem;
        color: $color-grey-dark-red;

        &::placeholder {
            color: $color-primary-grey;
        }
    }

    

    &__cta {
        background: $gradient-2;
        border: none;
        border-radius: 10rem;
        padding: 2rem 4rem;
    }

    &__cta-icon {

    }

    
}

.landing-image {
    flex: 0 0 42%;

    &__img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}