.container {
    &-fluid {
        height: 100vh;
        max-width: $grid-width;

        @include responsive(tab-port) {
            height: 100%;
        }

    }
   &__row {
        display: flex;
        width: 100%;
        height: 100%;

        @include responsive(tab-port) {
            flex-direction: column-reverse;
        }
   }
}

.site-info {
    flex: 0 0 58%;
    padding-top: 6.5rem;
    padding-left: 16.5rem;
    background-image: url("../../../images/bg-pattern-desktop.svg");

    @include responsive(tab-land) {
        padding-left: 5rem;
    }

    @include responsive(tab-port) {
        padding-left: 0;
    }

    @include responsive(phone-port) {
        padding-top: 5.3333333333rem;
    }

}

.main-content {

    @include responsive(tab-port) {
        padding: 0 5rem 6rem;
        text-align: center;
    }

    @include responsive(phone-port) {
        padding: 0 1.66667rem 4rem;
    }

    &__user-email {
        width: 42.2rem;
        display: flex;

        @include responsive(laptop) {
            width: 53.2rem;
        }

        @include responsive(tab-port) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.landing-image {
    flex: 0 0 42%;
    background-image: url("../../../images/hero-desktop.jpg");
    background-position: center top;
    background-repeat: no-repeat;

    @include responsive(tab-port) {
        flex: 0 0 auto;
        background-size: cover;
        width: 100%;
        height: 30rem;
    }

    @include responsive(phone-port) {
        background-image: url("../../../images/hero-mobile.jpg");
        margin-top: 5.9166666667rem;
        height: 20.5rem;
    }
}